<link href="https://fonts.googleapis.com/css2?family=Playwrite+RO:wght@100..400&display=swap" rel="stylesheet">


<ion-content>

  <!-- Logo da ONG -->
  <div class="logo-container">
    <img src="assets/logo.png" alt="Logo da ONG" class="logo">
  </div>

  <!-- Título -->
  <div class="title-container">
    <h1 class="title">ONG</h1>
    <h3 class="subtitle">Ajudando o Próximo</h3>
  </div>

  <!-- Descrição -->
  <div class="buttons-container">
    <ion-button class="about-button" fill="outline" shape="round" (click)="showInfo()">
      Clique aqui para saber mais sobre nosso propósito
    </ion-button>
  </div>

  <!-- Botão de Acesso -->
  <div class="buttons-container">
    <ion-button class="login-button" shape="round" (click)="login()">
      Conheça Nossos Voluntários
    </ion-button>
  </div>

</ion-content>